*, html{
	margin:0px;
	padding: 0px;
}
body 
{
	font-family:'Open Sans' serif;
}
h1{
	color:#fff;

	text-align: center;
}

#back 
{
	height: 500px;

<<<<<<< HEAD
=======

>>>>>>> ff23ff904ed1d90c58ddb6d8f3f022bbcb335ee4
}
.fondoP{
	position: relative;
	width: 100%;
	height:100%;
	z-index: -50;
	margin-bottom: -15px;
}

.inf_back{
	width: 100%;
	height: 300px;
	top: 170px;
	position: absolute;
<<<<<<< HEAD
	float: center;
=======
	float: left;
>>>>>>> ff23ff904ed1d90c58ddb6d8f3f022bbcb335ee4
	color: #fff;
	text-align: center;
	z-index: -49;
	
}

.inf_back h1{
	 font-size: 5em;
    letter-spacing: 0.14em;
}

.inf_back p{
	font-size: 20px;
}

<<<<<<< HEAD
#bienvenidos{
	display: block;
	margin-top: 700px;
=======


#bienvenidos{
	display: block;
>>>>>>> ff23ff904ed1d90c58ddb6d8f3f022bbcb335ee4
	padding-top:0px;
	background-color: #CCCCCC;
	width: 100%;
	height: 100%;
	text-align: center;
}

#bienvenidos h1{
	padding-top: 9%;
	font-size: 35px;
	letter-spacing: 1px;
	
}

#bienvenidos #guion{
	letter-spacing: 0px;
	padding-top: 65px;
	color:#AA6A3D;
	/*opacity: .3;*/
}

#bienvenidos p{
	padding-bottom: 9%;
	margin-top: -70px;
	font-size: 20px;
	letter-spacing: 2px;
}

<<<<<<< HEAD

=======
>>>>>>> ff23ff904ed1d90c58ddb6d8f3f022bbcb335ee4
			

#cabezera nav
{

	width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(51, 51, 51 0);
    z-index: 100;
}

#cabezera nav ul 
{
	list-style: none;
}

#cabezera nav .logo
{
	width: 35px;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: -55px;
}
#cabezera nav ul li
{
	float: right;
	color: #fff;
	

}

#cabezera nav ul li a 
{
	display: block;
	padding: 27px;
	text-decoration: none;
	color: #fff;
	margin-top: -20px;

}

#cabezera nav ul li a:hover{
	background: transparent;
} 


#cabezera nav .fade-transparent {

      background-color: transparent;

      -webkit-transition: background-color 1s;
    transition: background-color 1s;

}

.navi
{

	font-size: 23px;
	color: #fff;
	float:left;
    margin-top: -10px;
    padding-left:50px ;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .05s, 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property:color, text;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function: ease;
    -o-transition-property:color, text;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease;
} 
.navi:hover{
	color:#666666;

}

#Home{
	background: url(../img/p1.jpg) 50% 0% no-repeat fixed;
}

#section2{
	background: url(../img/p2.jpg) 50% 0 no-repeat fixed;
}

#section3{
	
	background: url(../img/p3.jpg) 50% 0 no-repeat fixed;
}
#section4{
	
	background: url(../img/p4.jpg) 50% 0 no-repeat fixed;
}
#section5{
	
	background: url(../img/p5.jpg) 50% 0 no-repeat fixed;
}

#Home, #section2, #section3, #section4, #section5{
	margin:0px auto;
	max-width: 1920px;
	min-height: 700px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

}
 #home, #section2, #section3 #section4, #section5{
 	box-shadow: 0 0 20px rgba(0,0,0,0,0.4);
 	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0,0.4);
 }
 article{
 	padding: 100px;
 }
 .geek{
 	background: url();
 	display: block;
 	height: 368px;
 	margin: 0px auto;
 	width: 517px;
 }
.geek h1{
	color: white;
	text-align: left;
	vertical-align: top;
	margin-left: -335px;
	padding-top: 425px;

}

.geek h1 p
{
	
	padding:6px;
	color:white; 
	background-color: rgba(51, 51, 51,0.7); 
	margin-right: 385px;


}

.geek h1 p a 
{
	color: #fff;
	margin-left: 35px;


}

#vacio{
	width: 100%;
	height: 398px;
	background-color: black;
	/*background-color: rgba(0, 0, 255, 0.3);*/
	z-index: -99;
	opacity: .3;	
}

/******************************
			FOOTER
******************************/
footer{
	color:#fff;
	position: fixed;
	bottom: -1px;
	background-color:#036564;
	width: 100%;
	height: 400px;
	z-index: -100;
	text-align: center;
	font-size: 18px;

}
footer ul li
{
	display: inline-block;
	text-align: left;
	padding: 0px, -15px;
	padding-right: 40px;
	padding-top: 30px;



}
footer ul li .imagenes 
{
	width: 60px;
	margin-left: 20px;


}
footer ul li h1
{
	color:#E8DDCB;

	margin-top: -45px;
	margin-left: 80px;

}
footer ul li p
{
	color:#E8DDCB;
	margin-left: 80px;

}
footer #edintegral ul li h3 
{
	text-align: left;
	
	padding-right: 620px;
}


footer #edintegral ul li .logo

{
	width: 35px;
	margin-right: -35px;


}








