*{
	margin:0px;
	padding:0px;
}

body{
	font-family:'Open Sans' serif;

}
header{
	width: 100%;

}

video{
	position: relative;
	width: 100%;
	height:100%;
	z-index: -50;
	margin-bottom: -15px;
}

#cabezera nav
{

	width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(51, 51, 51 0);
    z-index: 100;
}

/*nav
{
	width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(53, 145, 204, 0);
    z-index: 100;
} */
#cabezera nav ul 
{
	list-style: none;
}

#cabezera nav .logo
{
	width: 45px;
}
#cabezera nav ul li
{
	float: right;
	color: #fff;

}

#cabezera nav ul li a 
{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #fff;

}

#cabezera nav ul li a:hover{
	background: transparent;
} 





#cabezera nav .fade-transparent {

      background-color: transparent;

      -webkit-transition: background-color 1s;
    transition: background-color 1s;

}










.inf_back{
	width: 100%;
	height: 300px;
	top: 300px;
	position: absolute;
	float: left;
	color: #fff;
	text-align: center;
	z-index: -49;
	
}

.inf_back h1{

	font-size: 5em;
	font-weight:300;
}

.inf_back p{
	font-size: 20px;
}

#bienvenidos{
	
	padding-top:0px;
	background-color: #CCCCCC;
	width: 100%;
	height: 100%;
	text-align: center;
}

#bienvenidos h1{
	padding-top: 9%;
	font-size: 35px;
	letter-spacing: 1px;
	
}

#bienvenidos #guion{
	letter-spacing: 0px;
	padding-top: 65px;
	color:#AA6A3D;
	/*opacity: .3;*/
}

#bienvenidos p{
	padding-bottom: 9%;
	margin-top: -70px;
	font-size: 20px;
	letter-spacing: 2px;
}


/***************************
           IMAGENES
***************************/
#section1{
	background: url(../img/background.jpg) 50% 50% no-repeat;
}

#section2{
	
	background: url(../img/background3.jpg) 50% 50% no-repeat;
}
#section3{
	
	background: url(../img/background3.jpg) 50% 50% no-repeat;
}
#section4{
	
	background: url(../img/background.jpg) 50% 50% no-repeat;
}


#section1, #section2, #section3, #section4{
	position: relative;
	margin:0;
	padding: 0;
	width: 50%;
	height: 500px;
	float: left;
} 
article{
	padding: 100px;
}

#section1 h2, #section2 h2, #section3 h2, #section4 h2{
	
	text-align: center;
	font-size: 50px;
	width: 100%;
	height: 100%;
	color: #fff;
	padding-top: 10%;
} 
#section1 p, #section2 p, #section3 p, #section4 p{
	
	text-align: center;
	font-size: 20px;
	width: 100%;
	height: 100%;
	color: #fff;
	padding-top: 10%;
} 

#efecto_fondo{
	width: 100%;
	height: 1200px;
	background-color: rgba(0, 255, 255, 0.3);
	z-index: -99;
	
	
}

#vacio{
	width: 100%;
	height: 1200px;
	position: absolute;
	background-color: black;
	z-index: -99;
	opacity: .3;
}
#vacio h1{
	font-size: 300px;
}



/******************************
			FOOTER
******************************/
footer{
	color:#fff;
	position: fixed;
	bottom: -1px;
	background-color: #6B6B6B;
	width: 100%;
	height: 405px;
	z-index: -100;
	text-align: center;

}



/******************************
			JQUERY
******************************/






@media screen and (min-width: 480px){

}


@media screen and (min-width: 660px){
/**********************************
TWO COLUMN LAYOUT
***********************************/
}
























